{% csrf_token %}
<p><label>Title</label>
    <input type="text" name="title" value="{{ task.title }}"></p>
<p><label>Description</label>
    <textarea name="description">{{ task.description }}</textarea></p>
<p><label for="id-status">Status:</label></p>
    <select name="status" id="id-status">
        {% for value, label in status_choices %}
            <option value="{{ value }}">{{ label }}</option>
        {% endfor %}
    </select>
<p><label>Finish date:</label></p>>
    <input type="date"  name="date">
