{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To do list</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container">
    <h1>Задачи:</h1>
    <p><a href="/tasks/add/">Добавить задачу</a></p>
    {% for task in tasks %}
        <h3>{{ task.pk }}. {{ task.description }}</h3>
        <p>Статус: ({{ task.status }} | {{ task.get_status_display }})</p>
        <p>{{ task.date }}</p>
    {% endfor %}
    <p><a href="/tasks/add/">Добавить задачу</a></p>
</div>
</body>
</html>