{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <p><a href="{% url 'index' %}">На главную</a></p>
        <h1>{{ task.title }}</h1>
        <p>{{ task.description }}</p>
        {% if task.date == None %}
        <p>Дата не определена</p> {% else %} <p>Дата выполнения: {{ task.date }}</p>
        {% endif %}
        <p><a href="{% url 'index' %}">На главную</a></p>
    </div>
</body>
</html>